body {
    background-color: black;
    color: #D1CDCE;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a {
    color: #E1DDDE;
}

select {
    color: black;
}

.page-body {
    border: 1px;
    border-color: black;
    border-style: solid;
    background-color: #E9F0F2;
}

.catalog-list {
}

.champion-icon {
    padding: 5px float : left;
}

figure figcaption {
    font-size: 18px;
    text-align: center;
}

.title-header {
    padding: 5px;
    border-style: solid;
    border-width: 0 0 3px 0;
    border-color: black;
    font-size: 20px;
    background-color: red;
    color: white;
}

.basic-info {
    padding: 5px;
}

.detailed-info {
    padding: 5px;
    background-color: #111;
    margin-top: 15px;
}

.personal-info {
    background-color: #111;
    padding: 5px;
    margin-top: 10px;
}

.favorite-champ-list-header {
    font-size: 20px;
    padding-right: 4px;
    border-style: solid;
    border-width: 0 1px 0 0;
    border-color: black;
}

.favorite-champ-list-element {
    font-size: 20px;
    padding-left: 10px;
}

.trending-champ {
    font-size: 23px;
}

.tongue-content {
    width: 120px;
    background: black;
    text-align: center;
    padding: 8px 5px 5px 5px;
    color: white;
    background: black;
    background: -moz-linear-gradient(top, rgba(14, 14, 14, 0.4) 0%, rgba(125, 126, 125, 0.45) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(14, 14, 14, 0.4)), color-stop(100%, rgba(125, 126, 125, 0.45))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(14, 14, 14, 0.4) 0%, rgba(125, 126, 125, 0.45) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(14, 14, 14, 0.4) 0%, rgba(125, 126, 125, 0.45) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(14, 14, 14, 0.4) 0%, rgba(125, 126, 125, 0.45) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(14, 14, 14, 0.4) 0%, rgba(125, 126, 125, 0.45) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#660e0e0e', endColorstr='#737d7e7d', GradientType=0); /* IE6-9 */
    box-shadow: rgba(0, 0, 0, 0.79) 0px 0px 10px 1px;
}

.splash-background {
    width: 1080px;
    height: 637px;
    background-image: url('http://img4.wikia.nocookie.net/__cb20120912044527/leagueoflegends/images/thumb/a/a5/Morgana_OriginalSkin.jpg/1080px-Morgana_OriginalSkin.jpg')
}